[
	{smart_fleet_data_plugin, [
		{kafkaConAddr, [{"120.168.10.104", 9092}, {"120.168.10.105", 9092}]},
		{kafkaTopic, <<"erlang-test">>},
		{kafkaPartitionNum, 2},
		{hashType, sha256},
		{brokerIp, "120.168.10.104"},
		{rmFilePath, "/home/otdev/Project/smartFleet/production/emqttd/data/rmFile"}
	]}
].